.DS_Store
**/build.properties
/test-classes
/test-classes/**/*
/plato-widgets-demo/war/WEB-INF/deploy
/plato-widgets-demo/war/WEB-INF/deploy/**/*
/plato-widgets-demo/war/WEB-INF/classes
/plato-widgets-demo/war/WEB-INF/classes/**/*
/plato-widgets-demo/war/WEB-INF/appengine-generated/
/plato-widgets-demo/war/WEB-INF/appengine-generated/**/*
/plato-driver/build
/plato-driver/build/**/*
/plato-server/build
/plato-server/build/**/*
/.gwt
/.gwt/**
/gwt-unitCache
